body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #06440c, #2a0487);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    backdrop-filter: blur(10px);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    box-sizing: border-box; 
}

input::placeholder, select {
    color: rgba(255, 255, 255, 0.7);
}
.half-width {
    flex: 1; 
    min-width: 150px;
}

button {
    width: 100%;
    padding: 10px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

button:hover {
    background: #ddd;
}

option{
    color: black;
}
.input-group {
  display: flex;
  gap: 15px; 
}

.input-group {
  flex: 1;
  padding: 10px;
}