*{
    margin: 0;
    padding: 0;
    padding-top: 2px;
    margin-bottom: 5px;

    
}
.photo{
    text-align: center;
    background-image: url('https://imgs.search.brave.com/VT9CytbM2S1Q4IzW_inuLv-eIPkaiWJmKo7EQpoNbT8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuc3F1YXJlc3Bh/Y2UtY2RuLmNvbS9j/b250ZW50L3YxLzU3/NDgzZTBkZjY5OWJi/ZWMzYmY1ZjZlZi8x/NTU5NDk3NTA0MjE3/LUc3Mk1aUzRVOUpJ/SzdPMFJGSDZUL1Ro/ZS1CZXN0LVRyZWtr/aW5nLVBsYWNlcy1J/bmRpYS5qcGc');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60vh;
;



}
.heading1{
    width: 50%;
    color:rgba(24, 29, 31, 0.724);
    margin: auto;
    text-align: center;
    font-family:Trebuchet MS, sans-serif  ;
    font-size: large;
    padding-top: 40px;
    font-weight: 1000px;
}
button{
    background-color: rgba(219, 178, 101, 0.845);
    font-size: 12px;
    padding: 12px 28px;
    border-radius: 10px;
    color: #353333;
}
.content1{
    display: flex;
    margin-top: 10px;
    padding-top: 20px;
    background-color: silver;
    width: 100%;
    
}
#outdoor{
    font-family:Trebuchet MS, sans-serif ;
    width: 50%;
    padding-left: 20px;
    background-color: rgba(239, 203, 119, 0.799);
    margin-bottom: 20px;
}
#outdoor1{
    margin-bottom: 100px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 100px;   
    width: 20px;
   
}
#head{
    font-family:Trebuchet MS, sans-serif ;
    color: rgb(70, 70, 123);
    font-size: 40px;
    font-weight: 200px;
}
.content2{
    padding-top: 100px;
    align-items: center;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;


}
.content3{
    display: flex;
    margin: auto;
    width: 40%;
    padding: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 1em;

}

.box{
    width: 150px;
    height: 150px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;

}
#box0{
    background-color:hsl(0, 0%, 100%) ;
    font-family:Trebuchet MS, sans-serif ;
    color: rgb(70, 70, 123);
    font-size: 30px;
    font-weight: 200px;
    align-self: center;
    text-align: center;
    padding-left: 40px;
}

#box1{
    background-color:hsl(0,100%,70%) ;
}
#box2{
    background-color:hsl(52,100%,70%) ;
}
#box3{
    background-color:hsl(111,100%,70%) ;
}
#box4{
    background-color:hsl(201,100%,70%) ;
}
#box5{
    background-color:hsl(312, 42%, 58%) ;
}
.content4{
    width: 35%;

    display: flex;
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 1em;
    text-align: center;
    border-bottom:2px solid black;
}
.choose{
    display: flex;
    text-align: center;
    font-size: large;
    margin-left: 25px;
    margin-top: 20px;



}
.choose:hover{
    text-decoration: underline;

}
#head2{

    margin-left: 10px;
    font-family:Trebuchet MS, sans-serif ;
    color: rgb(70, 70, 123);
    font-size: 40px;
    font-weight: 200px;
}